.picture {
    height: auto;
}
.buyBtn {
    background-color: coral;
    width: 100%;
    z-index: 2000;
}
.buyBtn:hover, .buyBtn:active {
    background-color: red !important
}
.plh {
    height: 100px;
}


@media (min-width: 576px) { 
    .buyBtn {
        width: auto;
    }
    .picture {
        max-width: 30%;
    }
    .pictureContainer{
        text-align: center;
    }
    .btnContainer{
        padding: 10px;
        text-align: right;
    }
}