@media screen and (min-width: 800px) {
    main {
        width: 70%;
    }
    header {
        height: 70px;
    }
    .icard {
        margin: 20px auto;
        width: 80%;
        display: inline-block;
    }
    .icard-main {
        height: 300px;
    }
    .icard-image-placetaker {
        width: 350px;
        height: 100%;
        display: inline-block;
    }
    .icard-image-container {
        width: 100%;
        display: flex;
    }
    .icard-image {
        width: 300px;
        height: auto;
        display: block;
        margin: 20px auto auto auto;
    }
    .icard-text {
        width: calc(100% - 351px);
        display: inline-block;
        vertical-align:top;
        padding: 20px;
    }
    .icard-text h2 {
        width: calc(100% - 21px);
        display: inline-block;
    }

    .icard-button {
        padding: 10px;
        display: inline-block;
    }

    .additional-info {
        margin-top: 10px;
        vertical-align: top;
        display: inline-block;
    }
}

dd, dt, b {
    display: inline;
    line-height: 1.5
}