:root {
    --main-color: #404040;
    --highlight-color: #000000;
    --line-color: #eeeeee;
    --text-color: #eeeeee;
}

body {
    background: var(--main-color);
}

header {
    background: var(--highlight-color);
}

* {
    color: var(--text-color);
}

main * {
    background-color: var(--main-color);
}

select, option {
    border: 1px solid var(--main-color);
    outline: 0 solid var(--main-color);
    background-color: var(--main-color);
}

input:focus,
select:focus, .form-control:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus, 
.btn:active:focus {
    border: 0;
    color: var(--main-color);
    font-weight: bold;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus, 
.btn-primary:active:focus {
    background-color: var(--text-color);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus, 
.btn-secondary:active:focus {
    background-color: var(--main-color);
    color: var(--text-color);
}

.dropdown-menu {
    border: 0;
    background-color: var(--main-color);
    background-color: var(--main-color);
}

.dropdown-item, .dropdown-item a {
    background-color: var(--main-color);
    color: var(--text-color);
    display: block;
    width: 100%;
    text-decoration: none;
}

.dropdown-item:hover, .dropdown-item:hover a {
    background-color: var(--text-color);
    color: var(--main-color);
}

.nav-tabs {
    border: 0;
}

.nav-link {
    background-color: var(--main-color) !important;
    border: 0 !important;
    color: var(--text-color) !important;
}

.nav-link.active {
    color: var(--highlight-color) !important;
}

.icard {
    border: 0;
}

.icard-button {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.icard-image {
    border-radius: 7px;
}

.icard-button img {
    height: 1em;
    width: auto;
}

.icard-button-selected img {
    transform: rotate(180deg);
}

dt {
    color: var(--text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    margin-right: 1ch;
}

dd {
    color: var(--text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

.additional-info {
    cursor: pointer;
}

b a, b a:visited, dd a, dd a:visited {
    color: var(--text-color);
}

dt a, dt a:visited {
    color: var(--text-color);
}

.sort-button {
    margin: 10px;
}